<footer>
	<em
		>&copy; 2023 Desenvolvido por -
		<a href="https://github.com/joas005">@joas005</a> com Angular
	</em>
	<br />
	<div>
		<a href="https://www.instagram.com/joaspasqualetto/" target="_blank"
			><img
				src="https://img.shields.io/badge/-Instagram-%23E4405F?style=for-the-badge&logo=instagram&logoColor=white"
				target="_blank"
				alt="link Instagram"
		/></a>
		<a href="mailto:joaoferreirapaula005@gmail.com"
			><img
				src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white"
				target="_blank"
				alt="link Gmail"
		/></a>
		<a
			href="https://www.linkedin.com/in/joao-victor-ferreira-de-paula-b59943261/"
			target="_blank"
			><img
				src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white"
				target="_blank"
				alt="link LinkedIn"
		/></a>
		<a href="https://github.com/joas005" target="_blank"
			><img
				src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
				target="_blank"
				alt="link GitHub"
		/></a>
	</div>
</footer>
