<section class="quizz container">
	<figure class="quizzLogo">
		<img src="assets/images/logo.png" alt="logo" />
		<h3>{{ title }}</h3>
	</figure>

	<main *ngIf="notFinished; else finishedBlock">
		<section class="questions">
			<h3>{{ selectedQuestion.question }}</h3>
		</section>

		<div class="options">
			<button class="btn-option" 
			(click)="chosenOption(option.alias)" 
			*ngFor="let option of selectedQuestion.options; let i = index">
			{{option.name}}
		</button>
		</div>
	</main>

	<ng-template #finishedBlock >
		<div class="quizzResults container">
			<h1>Seu resultado é:</h1>
			<p>{{selectedAwser[0]}}</p>
			<img class="selectedAwserImage" src="{{selectedAwser[1]}}" alt="Selected awser image">
			<p></p>
		</div>
	</ng-template>
</section>
