.quizz {
	position: relative;
	height: 100%;
}

.quizzLogo {
	width: 95%;
	margin: 1rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.quizzLogo img {
	height: 2.75rem;
	width: 15rem;
	margin-bottom: 10px;
	cursor: pointer;
	transition: scale 0.3s translateY 0.3s;
}

.quizzLogo h3 {
	text-align: center;
	font-size: var(--size-2xl);
	color: var(--clr-lightPurple);
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.questions {
	border-radius: 0.5rem;
	height: var(--size-8xl);
	background-color: var(--clr-lightPurple);
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.questions h3 {
	color: var(--clr-lightGrey);
	font-size: var(--size-xl);
	letter-spacing: 0.05em;
	text-align: center;
	width: 100%;
	font-weight: 500;
}

.options {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.btn-option {
	color: var(--clr-lightGrey);
	background-color: transparent;
	border: 2px solid var(--clr-green);
	border-radius: 0.75rem;
	width: 100%;
	text-align: center;
	padding: 0;
	max-width: 20rem;
	min-height: 2rem;
	height: auto;
	cursor: pointer;
	box-shadow: 0 8px 15px rgba(55, 148, 84, 0.1),
		0 4px 4px rgba(55, 148, 84, 0.2), 0 0 80px -12px var(--clr-green);
	transition: transform 0.3s, box-shadow 0.3s, background-color 0.5s, top 0.3s;
	font-size: var(--size-base);
}

.btn-option:hover {
	transform: translateY(-3px);
	box-shadow: 0 14px 28px rgba(55, 148, 84, 0.15),
		0 10px 10px rgba(55, 148, 84, 0.1), 0 0 120px -10px var(--clr-green);
	background-color: var(--clr-green);
}

.btn-option:active {
	position: relative;
	top: 2px;
}

.quizzResults {
	width: 90%;
	height: auto;
	background-color: var(--clr-lightPurple);
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	border-radius: 10px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.quizzResults h1 {
	align-self: flex-start;
	color: var(--clr-deepPurple);
	font-size: var(--size-2xl);
	letter-spacing: 0.1em;
	margin-bottom: 1rem;
}

.selectedAwser {
	color: var(--clr-lightGrey);
	font-size: var(--size-l);
	letter-spacing: 0.05em;
	font-weight: 500;
	text-align: center;
	margin-bottom: 1rem;
}

.selectedAwserImage {
	display: block;
	width: 90%;
	margin: 0 auto;
	max-width: 38rem;
}

.selectedAwserDescription {
	align-self: flex-start;
	color: var(--clr-lightGrey);
	font-size: var(--size-s);
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: left;
	text-indent: 3%;
}

.buttonWrapper {
	display: block;
	margin: 0 auto;
}

.quizzLogo img:hover {
	transform: translateY(-2px);
	transform: scale(1.05);
}

/* XS */
@media (min-width: 475px) {
	.quizzLogo h3 {
		font-size: var(--size-3xl);
	}

	.questions h3 {
		font-size: var(--size-2xl);
	}

	.btn-option {
		width: 45%;
		font-size: var(--size-l);
	}

	.quizzResults h1 {
		font-size: var(--size-3xl);
	}

	.selectedAwserDescription {
		font-size: var(--size-base);
	}

	.selectedAwser {
		font-size: var(--size-xl);
	}
}

/* M */
@media (min-width: 768px) {
	.quizzLogo img {
		height: auto;
		width: 18rem;
	}

	.quizzLogo h3 {
		font-size: var(--size-4xl);
	}

	.questions h3 {
		font-size: var(--size-3xl);
	}

	.btn-option {
		height: 3rem;
		font-size: var(--size-2xl);
	}

	.options {
		gap: 1.5rem;
	}

	.quizzResults h1 {
		font-size: var(--size-4xl);
	}

	.selectedAwser {
		font-size: var(--size-2xl);
	}

	.selectedAwserDescription {
		font-size: var(--size-l);
	}

	.quizzResults {
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}
}

@media (min-width: 1024px) {
	.questions h3 {
		font-size: var(--size-2xl);
	}
}

/* XL */
@media (min-width: 1280px) {
	.quizzLogo img {
		width: 22rem;
	}

	.questions h3 {
		font-size: var(--size-3xl);
	}

	.options {
		gap: 2rem;
	}

	.btn-option {
		font-size: var(--size-2xl);
	}

	.quizzResults h1 {
		font-size: var(--size-5xl);
	}

	.selectedAwser {
		font-size: var(--size-3xl);
	}

	.selectedAwserDescription {
		font-size: var(--size-xl);
	}
}
